
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Teszt</title>
</head>
<body style="background-color:azure">
    <h1 style="background-color:darkblue">Ez az oldal cime</h1>
    <div style="background-color:crimson">
        Ez pedig az oldalon tallahato barmilyen szoveg
    </div>
</body>
</html>
